<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/Favicon.png" type="image/x-icon">
    <title>Proyects</title>
</head>
<body>
    <div class="navbar">
        <div class="menu-toggle" id="menu-toggle">☰</div>
        <ul class="menu" id="menu">
            <li><a href="/Index.html">Inicio</a></li>
            <li><a href="#Tiendas">Tiendas</a></li>
            <li><a href="#Gaming">Gaming</a></li>
            <li><a href="#Blogs">Blogs</a></li>
            <li><a href="#Contact">Contacto</a></li>
        </ul>
    </div>

    <div class="Titulo">
        <div class="txt-P">
            <h2>My</h2>
            <h1>Projects</h1>
        </div>
        <div class="color1">
            <p> </p>
        </div>
    </div>

    <div class="P-container" id="Tiendas">
        <h1>Tiendas</h1>
        <div class="Proyectos">
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            
            </div>
        </div>
    </div>

    <div class="P-container" id="Gaming">
        <h1>Gaming</h1>
        <div class="Proyectos">
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            
            </div>
        </div>
    </div>

    <div class="P-container" id="Blogs">
        <h1>Blogs</h1>
        <div class="Proyectos">
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            <div class="Proyect">
                <h2>Nombre Proyect</h2>
                <div class="link-btn">
                    <img src="/static/img/Prueba 1.png" alt="">
                    <a href="#" class="openModalLink" data-link="https://programasfreee.netlify.app/donacion">Visitar...</a>
                </div>
            </div>
            
            </div>
        </div>
    </div>

   
    <div id="myModal" class="modal" >
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modalContent"></div>
            <iframe src="" frameborder="0"></iframe>
        </div>
    
    </div>
   


    <div class="contact" id="Contact">
        <h1> Contact</h1>
        <div class="redes">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://api.whatsapp.com/send?phone=5618702283"><i class="fa-brands fa-whatsapp"></i></a>
        </div>

    </div>

    
    <script src="/static/js/script.js"></script>
</body>
</html> 